// Path
$img-dir-path: '../img/';


// Fonts
$font-family:      ('Roboto', 'Arial', 'Helvetica', sans-serif);
$line-height-base: 1.4;
$line-height-sm:   1.2;

$font-weight-light:   200;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    700;
$font-weight-heavy:   800;
$font-weight-extra:   900;

$font-size-large:  1rem;
$font-size-small:  .8rem;
$font-size-xsmall: .6rem;


// Colors
$color-accent:       #6bbc2f;
$color-white:        #fff;
$color-black:        #000;
$color-red:          #da2c2c;


// links
$link-color: $color-accent;



// Animations
$transition-time:   .25s;
$transition-effect: ease-out;


// Layout
$layout-padding-h:  15px;



// section padding
$section-padding: 75px;
$section-padding-md: 50px;
$section-padding-sm: 40px;